@charset "UTF-8";
@import url(normalize.css);
/* Modular Scale ---------------------- 
(http://modularscale.com/) thanks Tim (http://nicewebtype.com)!
64px @ 1:1.6	  
18px @ 1:1.6    
----------------------*/
@font-face {
  font-family: 'clear_sansbold';
  src: url("../content/fonts/ClearSans-Bold-webfont.eot");
  src: url("../content/fonts/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/ClearSans-Bold-webfont.woff") format("woff"), url("../content/fonts/ClearSans-Bold-webfont.ttf") format("truetype"), url("../content/fonts/ClearSans-Bold-webfont.svg#clear_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clear_sansitalic';
  src: url("../content/fonts/ClearSans-Italic-webfont.eot");
  src: url("../content/fonts/ClearSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/ClearSans-Italic-webfont.woff") format("woff"), url("../content/fonts/ClearSans-Italic-webfont.ttf") format("truetype"), url("../content/fonts/ClearSans-Italic-webfont.svg#clear_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clear_sansregular';
  src: url("../content/fonts/ClearSans-Regular-webfont.eot");
  src: url("../content/fonts/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/ClearSans-Regular-webfont.woff") format("woff"), url("../content/fonts/ClearSans-Regular-webfont.ttf") format("truetype"), url("../content/fonts/ClearSans-Regular-webfont.svg#clear_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 51, ../sass/_type.scss */
html {
  font-size: 16px;
}

/* line 55, ../sass/_type.scss */
body, p, a {
  font-family: "clear_sansregular", Arial, Sans-Serif;
}

/* line 59, ../sass/_type.scss */
h1, h3, h5, cite, blockquote {
  font-family: "Arvo", Georgia, Serif;
  color: #e0321b;
}

/* line 64, ../sass/_type.scss */
h2, h4, h6, label {
  font-family: "clear_sansbold";
}

/* line 68, ../sass/_type.scss */
body {
  background: whitesmoke;
  color: #3c3c45;
  font-size: 1.125em;
}

/* line 74, ../sass/_type.scss */
h1 {
  font-size: 4em;
  /*scale original*/
  color: #e0321b;
  font-weight: normal;
  margin: 0 0 1.125em;
}

/* line 81, ../sass/_type.scss */
h1.pHeader {
  margin: 1.125em 0 0;
}

/* line 85, ../sass/_type.scss */
h2 {
  font-size: 2.5em;
  color: #3d4859;
  margin: 0 0 0.977em;
}

/* line 92, ../sass/_type.scss */
h2.pHeader {
  margin: 0.977em 0 0;
}

/* line 97, ../sass/_type.scss */
h3 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0 0 0.703em;
}

/* line 103, ../sass/_type.scss */
h3.pHeader {
  margin: 0.703em 0 0;
}

/* line 108, ../sass/_type.scss */
h4 {
  font-size: 1.563em;
}

/* line 112, ../sass/_type.scss */
h5 {
  font-size: 1.563em;
}

/* line 116, ../sass/_type.scss */
h6 {
  font-size: 1.125em;
}

/* line 122, ../sass/_type.scss */
h1.first-Header,
h2.first-Header,
h3.first-Header {
  margin-top: 0;
}

/* line 126, ../sass/_type.scss */
a {
  color: #4989ce;
}

@media (max-width: 600px) {
  /* line 131, ../sass/_type.scss */
  h1 {
    font-size: 2.75em;
  }

  /* line 134, ../sass/_type.scss */
  h2 {
    font-size: 2em;
  }
}
/* line 7, ../sass/_grid.scss */
.grid {
  margin-bottom: 28.8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 10, ../sass/_grid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, ../sass/_grid.scss */
.row {
  margin-bottom: 28.8px;
}

/* line 22, ../sass/_grid.scss */
[class*='col-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding-right: 4%;
}

/* line 32, ../sass/_grid.scss */
[class*='col-'].no-padding {
  padding: 0;
}

/* line 36, ../sass/_grid.scss */
.col-1 {
  width: 20%;
}

/* line 40, ../sass/_grid.scss */
.col-2 {
  width: 40%;
}

/* line 44, ../sass/_grid.scss */
.col-3 {
  width: 60%;
}

/* line 48, ../sass/_grid.scss */
.col-4 {
  width: 80%;
}

/* line 52, ../sass/_grid.scss */
.col-5 {
  width: 100%;
}

@media (max-width: 900px) {
  /* line 60, ../sass/_grid.scss */
  [class*='col-'] {
    padding-right: 2%;
  }

  /* line 64, ../sass/_grid.scss */
  .hide-small {
    display: none;
  }

  /* line 68, ../sass/_grid.scss */
  .small-col-1 {
    width: 25%;
  }

  /* line 71, ../sass/_grid.scss */
  .small-col-2 {
    width: 50%;
  }

  /* line 74, ../sass/_grid.scss */
  .small-col-3 {
    width: 75%;
  }

  /* line 77, ../sass/_grid.scss */
  .small-col-4 {
    width: 100%;
  }
}
/* line 4, ../sass/components/_titlebar.scss */
.Title--Bar {
  position: relative;
}

/* line 9, ../sass/components/_titlebar.scss */
.Logo {
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px;
  background: #e0321b;
  display: inline-block;
}
/* line 15, ../sass/components/_titlebar.scss */
.Logo a {
  color: whitesmoke;
  font-family: "Arvo", Georgia, Serif;
  text-decoration: none;
}
/* line 20, ../sass/components/_titlebar.scss */
.Logo a:hover {
  background: #e0321b;
}

/* line 25, ../sass/components/_titlebar.scss */
.Title--Bar--Logo {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

/* line 32, ../sass/components/_titlebar.scss */
.Title--Nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 38, ../sass/components/_titlebar.scss */
a.Title--Nav--Link {
  padding: 10px 5px;
  background: #e0321b;
  color: whitesmoke;
  margin-left: -4px;
  font-size: 0.7em;
  width: 45px;
  text-align: center;
  display: inline-block;
}

/* line 50, ../sass/components/_titlebar.scss */
a.Title--Nav--Link:first-child {
  border-radius: 3px 0 0 3px;
}

/* line 54, ../sass/components/_titlebar.scss */
a.Title--Nav--Link:last-child {
  border-radius: 0 3px 3px 0;
}

/* line 58, ../sass/components/_titlebar.scss */
a:hover.Title--Nav--Link {
  background: #d7301a;
  color: whitesmoke;
}

@media (max-width: 900px) {
  /* line 67, ../sass/components/_titlebar.scss */
  .Logo {
    font-size: 1.2em;
    font-weight: bold;
    padding: 3px;
  }

  /* line 73, ../sass/components/_titlebar.scss */
  a.Title--Bar--Button {
    width: 30px;
    height: 30px;
  }

  /* line 78, ../sass/components/_titlebar.scss */
  .masthead {
    padding-top: 80px;
  }
}
/* line 1, ../sass/_about.scss */
.aboutHeader.masthead {
  margin-bottom: 40px;
}

/* line 5, ../sass/_about.scss */
.abtAside {
  font-size: 0.8em;
}

/* line 9, ../sass/_about.scss */
.abtAside--Header {
  font-size: 1.5em;
}

/* line 13, ../sass/_about.scss */
.abtAside--Contact--email {
  display: block;
  margin-bottom: 0.61em;
  margin: 0.382em 0;
  font-size: 1.2em;
}

/* line 21, ../sass/_about.scss */
.abtAside--Contact--resume {
  display: block;
  margin: 0.382em 0;
  font-size: 1.2em;
}

/* line 28, ../sass/_about.scss */
.abtAside--eslwhere--link {
  display: block;
  margin: 0.382em 0;
  font-size: 1.2em;
  position: relative;
}

/* line 35, ../sass/_about.scss */
.abtAside--eslwhere--link--activity {
  color: #c2c2c2;
  display: inline-block;
  margin-left: 10px;
  font-size: 0.9em;
  position: absolute;
  left: 25%;
}

/* line 44, ../sass/_about.scss */
.abtAside--eslwhere--link--activity:before {
  content: "(";
}

/* line 48, ../sass/_about.scss */
.abtAside--eslwhere--link--activity:after {
  content: ")";
}

/* line 54, ../sass/_about.scss */
.abtAside--eslwhere--link:hover .abtAside--eslwhere--link--activity {
  color: #767676;
}

/* line 4, ../sass/components/_timeline.scss */
.abtAside--Timeline {
  overflow: auto;
  padding-bottom: 40px;
}

/* line 9, ../sass/components/_timeline.scss */
.abtAside--Subtitle {
  width: 48%;
  font-size: 1.1em;
  font-family: "clear_sansbold";
  display: inline-block;
  box-sizing: border-box;
  float: left;
  text-transform: uppercase;
  margin: 10px 0 5px;
}

/* line 20, ../sass/components/_timeline.scss */
h5.profesional {
  text-align: right;
  color: #3d4859;
  margin-right: 2%;
}

/* line 26, ../sass/components/_timeline.scss */
h5.personal {
  text-align: left;
  color: #4989ce;
  margin-left: 2%;
}

/* line 32, ../sass/components/_timeline.scss */
.timeline {
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  height: 787.5px;
}

/* line 43, ../sass/components/_timeline.scss */
.timeline--work {
  text-align: right;
  border-right: solid 5px #3d4859;
  padding-right: 5px;
}
/* line 48, ../sass/components/_timeline.scss */
.timeline--work .timeline--item {
  background: #ededed;
  padding: 10px;
  right: 0;
}
/* line 54, ../sass/components/_timeline.scss */
.timeline--work .timeline--item--date {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* line 60, ../sass/components/_timeline.scss */
.timeline--work .timeline--item::after {
  border-left: 10px solid transparent;
  border-top: 10px solid #3d4859;
  right: 0;
}
/* line 67, ../sass/components/_timeline.scss */
.timeline--work .timeline--item--title {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  right: 5px;
  text-align: right;
}

/* line 76, ../sass/components/_timeline.scss */
.timeline--home {
  text-align: left;
  border-left: solid 5px #4989ce;
  padding-left: 5px;
  position: relative;
}
/* line 82, ../sass/components/_timeline.scss */
.timeline--home .timeline--item {
  left: 0;
}
/* line 87, ../sass/components/_timeline.scss */
.timeline--home .timeline--item::after {
  border-right: 10px solid transparent;
  border-top: 10px solid #4989ce;
  left: 0;
}

/* line 95, ../sass/components/_timeline.scss */
.timeline--item {
  position: absolute;
  width: 100%;
  padding: 10px 10px 0;
  box-sizing: border-box;
}

/* line 102, ../sass/components/_timeline.scss */
.timeline--item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
}

/* line 118, ../sass/components/_timeline.scss */
.yr-05 {
  height: 37.5px;
}

/* line 119, ../sass/components/_timeline.scss */
.yr-1 {
  height: 75px;
}

/* line 120, ../sass/components/_timeline.scss */
.yr-2 {
  height: 150px;
}

/* line 121, ../sass/components/_timeline.scss */
.yr-3 {
  height: 225px;
}

/* line 122, ../sass/components/_timeline.scss */
.yr-4 {
  height: 300px;
}

/* line 123, ../sass/components/_timeline.scss */
.yr-5 {
  height: 375px;
}

/* line 125, ../sass/components/_timeline.scss */
.timeline--item--date {
  font-family: "Arvo", Georgia, Serif;
  color: #e0321b;
  display: block;
  font-size: 1em;
}

/* line 132, ../sass/components/_timeline.scss */
.timeline--item--title {
  font-weight: bold;
  color: #3d4859;
  font-family: "clear_sansbold";
  margin: 0px;
  line-height: 0.95em;
  letter-spacing: -0.05em;
}

/* line 141, ../sass/components/_timeline.scss */
.timeline--item--sublist {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 151, ../sass/components/_timeline.scss */
.timeline--start {
  display: block;
  width: 100%;
  text-align: center;
  color: #e0321b;
  font-family: "Arvo", Georgia, Serif;
  position: relative;
  float: left;
  padding-top: 10px;
}

/* line 161, ../sass/components/_timeline.scss */
.timeline--start:before {
  content: "●";
  top: -20px;
  color: #e0321b;
  z-index: 2000;
  font-size: 2em;
  left: 48%;
  position: absolute;
}

/* line 172, ../sass/components/_timeline.scss */
.timeline--start--time {
  display: block;
  width: 100%;
  text-align: center;
}

/* line 179, ../sass/components/_timeline.scss */
.austrailia {
  bottom: 10px;
}

/* line 180, ../sass/components/_timeline.scss */
.machupichu {
  bottom: 274px;
}

/* line 181, ../sass/components/_timeline.scss */
.marriage {
  bottom: 347.75px;
}

/* line 182, ../sass/components/_timeline.scss */
.chile {
  bottom: 430px;
}

/* line 183, ../sass/components/_timeline.scss */
.dr {
  bottom: 485px;
}

/* line 184, ../sass/components/_timeline.scss */
.homeowner {
  bottom: 525px;
}

/* line 185, ../sass/components/_timeline.scss */
.clara {
  bottom: 600px;
}

/* line 186, ../sass/components/_timeline.scss */
.homerenoend {
  bottom: 660px;
}

/* line 187, ../sass/components/_timeline.scss */
.theo {
  top: 0;
}

/* line 189, ../sass/components/_timeline.scss */
.noblis {
  top: 0;
  height: 460px;
  z-index: 10000;
}

/* line 194, ../sass/components/_timeline.scss */
.pioneers {
  bottom: 247px;
  z-index: 900;
}

/* line 198, ../sass/components/_timeline.scss */
.saic {
  bottom: 20px;
  z-index: 800;
}

@media (max-width: 900px) {
  /* line 206, ../sass/components/_timeline.scss */
  .timeline--start:before {
    left: 48.5%;
  }
}
/* line 1, ../sass/components/_writing.scss */
.writinglist {
  list-style: none;
  padding: 0;
  margin: 0 0 120px;
}

/* line 7, ../sass/components/_writing.scss */
.articleItem {
  margin: 0 0 60px;
}

/* line 12, ../sass/components/_writing.scss */
a.articleItem--Link,
a.articleItem--Link:hover {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 2% 2% 7%;
  background-size: cover;
  background-position: 25% 25%;
  box-sizing: border-box;
  font-size: 1.25em;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

/* line 26, ../sass/components/_writing.scss */
a.articleItem--Link.no-background,
a.articleItem--Link:hover.no-background {
  background: #ededed;
  padding: 2%;
}

/* line 31, ../sass/components/_writing.scss */
.articleItem--Link--Title {
  margin: 0;
}

/* line 35, ../sass/components/_writing.scss */
.articleItem--Link--Description {
  margin: 0;
}

/* line 4, ../sass/components/_footer.scss */
.site-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #3d4859;
  padding: 2.5%;
  position: relative;
  overflow: hidden;
  height: 40%;
}

/* line 13, ../sass/components/_footer.scss */
footer h4 {
  font-size: 0.9em;
  color: whitesmoke;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
}

/* line 21, ../sass/components/_footer.scss */
.Logo.footer--Logo {
  color: #3d4859;
  float: left;
}

/* line 26, ../sass/components/_footer.scss */
.footer--Menu {
  margin-left: 4%;
  width: 10%;
  padding-right: 4%;
  box-sizing: border-box;
  font-size: 1.25em;
  float: left;
}

/* line 35, ../sass/components/_footer.scss */
.footer--Nav {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  padding-right: 4%;
}

/* line 44, ../sass/components/_footer.scss */
.footer--Nav--Item {
  display: block;
}

/* line 48, ../sass/components/_footer.scss */
a.footer--Nav--Item--Link {
  display: block;
  width: 100%;
  padding: 1.5% 1.5% 1.5% 0;
}

/* line 55, ../sass/components/_footer.scss */
a:hover.footer--Nav--Item--Link {
  background: #3d4859;
}

/* line 59, ../sass/components/_footer.scss */
footer .featuredAtricles {
  height: 100%;
  display: inline-block;
}

/* line 66, ../sass/components/_footer.scss */
.footer--FeaturedArticles {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 81, ../sass/components/_footer.scss */
.footer--FeaturedArticles--Item--Link {
  padding: 1.5% 1.5% 1.5% 0;
}

/* line 86, ../sass/components/_footer.scss */
a:hover.footer--FeaturedArticles--Item--Link {
  background: #3d4859;
}

/* line 90, ../sass/components/_footer.scss */
.footer-Elsewhere {
  height: 100%;
  display: inline-block;
}

/* line 98, ../sass/components/_footer.scss */
.footer--Quote {
  padding: 0;
  margin-top: 0;
}

/* line 104, ../sass/components/_footer.scss */
.copyright {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
  color: whitesmoke;
  font-size: 0.7em;
}

@media (max-width: 900px) {
  /* line 115, ../sass/components/_footer.scss */
  .site-footer {
    height: 65%;
  }

  /* line 118, ../sass/components/_footer.scss */
  .footer--Menu {
    width: 100%;
    margin: 20px 0 20px;
  }

  /* line 123, ../sass/components/_footer.scss */
  .footer--FeaturedArticles {
    margin-bottom: 20px;
  }

  /* line 127, ../sass/components/_footer.scss */
  .footer-Elsewhere {
    margin-bottom: 20px;
  }
}
/* line 1, ../sass/articles/_pythagoreanPennants.scss */
.team {
  width: 16.666666667%;
}

/* line 5, ../sass/articles/_pythagoreanPennants.scss */
.team--label {
  font-size: 0.85em;
  text-align: left;
  fill: #3D4859;
  font-family: "Arvo", Georgia, Serif;
}

/* line 13, ../sass/articles/_pythagoreanPennants.scss */
#parallelCoordinates svg {
  font: 10px sans-serif;
}

/* line 19, ../sass/articles/_pythagoreanPennants.scss */
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* line 25, ../sass/articles/_pythagoreanPennants.scss */
.axis .domain {
  stroke: none;
}

/* line 29, ../sass/articles/_pythagoreanPennants.scss */
.x.axis line {
  stroke: white;
  stroke-width: 2.5px;
}

/* line 34, ../sass/articles/_pythagoreanPennants.scss */
.y.axis line {
  stroke: #8A8A8A;
}

/* line 38, ../sass/articles/_pythagoreanPennants.scss */
.axis text {
  text-shadow: 0 1px 0 #fff;
  font-size: 1.5em;
}

/* line 43, ../sass/articles/_pythagoreanPennants.scss */
.legend--rect {
  opacity: 0.5;
  fill: darkgray;
}

/* line 48, ../sass/articles/_pythagoreanPennants.scss */
.legend--rect.below {
  fill: #003B7B;
}

/* line 53, ../sass/articles/_pythagoreanPennants.scss */
.legend--rect.above {
  fill: #006DB0;
}

/* line 57, ../sass/articles/_pythagoreanPennants.scss */
.legend--line {
  stroke-width: 3.5px;
  stroke: steelblue;
}

/* line 62, ../sass/articles/_pythagoreanPennants.scss */
.legend--axis {
  stroke: white;
  stroke-width: 2.5px;
}

/* line 67, ../sass/articles/_pythagoreanPennants.scss */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3.5px;
  opacity: 0.1;
  z-index: 10;
}

/* line 76, ../sass/articles/_pythagoreanPennants.scss */
.hovering .line {
  opacity: 0.05;
}

/* line 80, ../sass/articles/_pythagoreanPennants.scss */
.hovering .line--hover.line {
  opacity: 1;
}

/* line 84, ../sass/articles/_pythagoreanPennants.scss */
.team--name {
  opacity: 0;
  font-size: 1.7em;
}

/* line 89, ../sass/articles/_pythagoreanPennants.scss */
.line--hover ~ .team--name {
  opacity: 1;
}

/* line 93, ../sass/articles/_pythagoreanPennants.scss */
.hovering .line--hover ~ .team--name {
  opacity: 1;
}

/* line 97, ../sass/articles/_pythagoreanPennants.scss */
.team--area {
  opacity: 0.05;
  z-index: 1;
}

/* line 102, ../sass/articles/_pythagoreanPennants.scss */
.hovering .team--area {
  opacity: 0.02;
  z-index: 1;
}

/* line 107, ../sass/articles/_pythagoreanPennants.scss */
.hovering .line--hover ~ .team--area {
  opacity: 0.5;
}

/* line 112, ../sass/articles/_pythagoreanPennants.scss */
.mouse--over {
  opacity: 0;
}

@media (max-width: 900px) {
  /* line 118, ../sass/articles/_pythagoreanPennants.scss */
  .team {
    width: 33.333333%;
  }
}
/* line 17, ../sass/sethblanchard.scss */
html {
  height: 100%;
}

/* line 21, ../sass/sethblanchard.scss */
body {
  background: whitesmoke;
}

/* line 25, ../sass/sethblanchard.scss */
p {
  margin: 0 0 0.977em;
}

/* line 29, ../sass/sethblanchard.scss */
a:hover {
  background: #f0f0f0;
}

/* line 33, ../sass/sethblanchard.scss */
.main {
  max-width: 1073.741px;
  margin: 0 auto;
  width: 95%;
}
/* line 37, ../sass/sethblanchard.scss */
.main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 48, ../sass/sethblanchard.scss */
blockquote {
  display: block;
  font-size: 2em;
  font-family: "Arvo", Georgia, Serif;
  color: #e0321b;
}

/* line 55, ../sass/sethblanchard.scss */
blockquote.inContext {
  display: block;
  margin: 10px;
  float: left;
}

/* line 61, ../sass/sethblanchard.scss */
img {
  max-width: 100%;
}

/* line 66, ../sass/sethblanchard.scss */
.masthead,
h1.masthead {
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  padding: 100px 0 10px;
}

/* line 74, ../sass/sethblanchard.scss */
.byline,
h2.byline {
  font-size: 1.25em;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 60px;
}

/* line 81, ../sass/sethblanchard.scss */
.articleFooter {
  font-size: 0.85em;
}

/* line 85, ../sass/sethblanchard.scss */
.articleFooter--Header {
  margin-bottom: 0px;
}

/* line 89, ../sass/sethblanchard.scss */
.footnote {
  margin: 10px;
}
