//If I ever get more complicated
$smallest:300px;
$small:600px;
$medium:900px;


//Color Vars 
$nuetral: #F5F5F5;
$primary-highlight: #E0321B;
$second-highlight: #4989CE;
$base: #3C3C45;
$darker-base:#3D4859;
$dark: rgb(0,0,0);