



$row-margin:28.800px;

.grid{
	margin-bottom: $row-margin; //ems?
	@include box-sizing(border-box);
	&:after {
	    content: "";
	    display: table;
	    clear: both;
	}
	//overflow:auto;
}

.row{
	margin-bottom: $row-margin;
}

[class*='col-'] {
	@include box-sizing(border-box);
	display:inline-block;
	float: left;
	padding-right: 4%;

	// .grid &:last-of-type {
 //    	padding-right: 0;
 //  	}
}
[class*='col-'].no-padding{
	padding:0;
}

.col-1{
	width: 20%;
}

.col-2{
	width:40%;
}

.col-3{
	width:60%;
}

.col-4{
	width:80%;
}

.col-5{
	width:100%;
}


//keep this really, really simple
@media (max-width: $medium) {

	[class*='col-'] {
		padding-right: 2%;
	}

	.hide-small{
		display:none;
	}

	.small-col-1{
		width:25%;
	}
	.small-col-2{
		width:50%;
	}
	.small-col-3{
		width:75%;
	}
	.small-col-4{
		width:100%;
	}
}

