$title-position:20px;
$menu-height:102px;

.Title--Bar{
	position:relative;
}


.Logo{
	font-size:1.5em;
	font-weight:bold;
	padding:6px;
	background:$primary-highlight;
	display: inline-block;
	a{
		color:$nuetral;
		font-family:$serif;
		text-decoration:none;
	}
	a:hover{
		background:$primary-highlight;
	}
}

.Title--Bar--Logo{
	position: absolute;
	top:$title-position;
	left:$title-position;
	margin:0;
}

.Title--Nav{
	position:absolute;
	top:$title-position;
	right:$title-position;
}

a.Title--Nav--Link{
	padding:10px 5px;
	background:$primary-highlight;
	color:$nuetral;
	margin-left:-4px;
	font-size:0.7em;
	width:45px;
	text-align:center;
	display:inline-block;
}


a.Title--Nav--Link:first-child{
	border-radius:3px 0 0 3px;
}

a.Title--Nav--Link:last-child{
	border-radius:0 3px 3px 0;
}

a:hover.Title--Nav--Link{
	background:darken($primary-highlight, 2);
	color:$nuetral;
}

//Fixes for smaller screens
@media (max-width: $medium) {


	.Logo{
		font-size:1.2em;
		font-weight:bold;
		padding:3px;
	}

	a.Title--Bar--Button{
		width:30px;
		height:30px;
	}

	.masthead{
		padding-top:80px;
	}
}


