.writinglist{
	list-style:none;
	padding:0;
	margin:0 0 120px;
}

.articleItem{
	
}

a.articleItem--Link,
a.articleItem--Link:hover{
	text-decoration:none;
	display:block;
	width:100%;
	padding:2% 2% 7%;
	background-size:cover;
	background-position:25% 25%;
	box-sizing:border-box;
	font-size: 1.25em;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

.articleItem--Link--Title{
	margin:0;
}

.articleItem--Link--Description{
	margin:0;
}