---
layout: empty
title: Pythagorean Pennants
description: Repurposing the pennant on your wall to tell your favorite team's future
listBackground: /content/pythagoreanPennants.png 
category: highlighted
---

	<section id="Main" class="grid main active">
		
		{% include header.html %}

		<h1 class="masthead">Pythagorean Pennants</h1>
		<h2 class="byline">Repurposing the pennant on your wall to tell your favorite team's future</h2>
		<div id="Chart" class="row">
		</div>
		<div class="row">
			<article class="col-5">
				<p>
					How good was your team last year? Really, how good were they? I know, if that pass in week 9 was a little higher you sneak into the playoffs. Your favorite player doesn't get injured in week 4 - you win the division. You lost 10 games but the season felt better than that.
				</p>
				<p>
					We all talk around how wins, in the NFL especially<sup><a id="footnotelink_1" href="#footnote_1">1</a></sup>, don't capture an accurate picture of how your team performed. So if we all implicitly state that wins aren't the right number, what is? Point Differential.
				</p>
				<p>
					Point differential is the sum of the points a team scored minus the sum of the points it allowed for all the games it has played in a season. For example, this year the New England Patriots won 12 games and had a point differential of +55 for the season, where as the Arizona Cardinals won 10 and also had a point differential of +55 points. Two different win totals, same difference in points score and points allowed for the entire season.		
				</p>
				<h3>Enter Pythagoras</h3>
				<p>
					So we have a better picture of how good our team was - eh (shrugs) - what are we going to do with that? This is where we bring back 8th grade geometry and apply Pythagoras. Not exactly the Pythagorean Theorem, but the Pythagorean Expectation. The Pythagorean <sup><a id="footnotelink_2" href="#footnote_2">2</a></sup> Expectation takes point differential and turns it into an expected number of wins. The pennants above display this visually. The horizontal line show the point difference while the vertical line shows the difference in expected wins. You can quickly tell which team should have won (or lost) more games and the relationship between expected wins and point differential.
				</p>

				<h2>The Weight of Expectation</h2>
				<p>
					Now that we have aligned reality with our expectations what can we do with this new number. It turns out that the expected wins (and wether it was more or less) have an impact on the future. A team that was expected to win more games than it did usually does the next season and vice versa. The chart below shows how a teams expectations can weigh down or buoy wins for the next season. It isn't exact<sup><a id="footnotelink_3" href="#footnote_3">3</a></sup> but it can give us a good idea of the direction our team is heading next season.
				</p>
				<div id="parallelCoordinates">
				</div>
			</article>
		</div>
		<div class="row articleFooter">
			<section class="col-5">
				<h4 class="articleFooter--Header">Footnotes</h4>
				<ol class="col-5 footnotes">
					<li class="footnote" id="footnote_1">
						Because the sample size in the NFL - 16 games - is so small. <a href="#footnotelink_1">^</a>
					</li>
					<li class="footnote" id="footnote_2">
						It is named the Pythagorean Expectation because the formula looks a lot like the one you learned in middle school. It was invented by Bill James and applied first to baseball and has since moved to other sports with slightly different formulas. Learn more about the <a href="http://en.wikipedia.org/wiki/Pythagorean_expectation">Pythagorean Expectation</a>. <a href="#footnotelink_2">^</a>
					</li>
					<li class="footnote" id="footnote_3">
						It doesn't take into account things like player movement. So while the 2011 Broncos should have not won quite as many games the following seasons adding Payton Manning is clearly a difference maker. <a href="#footnotelink_3">^</a>
					</li>
				</ol>
			</section>
			<section class="col-2">
				<h4 class="articleFooter--Header">About the Graphic</h4>
				<p>I learned about the Pythagorean Expectation by reading <a href="https://twitter.com/billbarnwell">Bill Barnwell</a>'s work on <a href="http://grantland.com/contributors/bill-barnwell/">Grantland</a>. It made being a fan of the football team in our nations capitol even more frustrating but provided insight into teams performance from year to year that I really have enjoyed having. I wanted to</p>
			</section>
			<section class="col-3">
				<h4 class="articleFooter--Header">References</h4>
				<ul>
					<li>Data is from <a href="http://www.pro-football-reference.com">Pro-Football Reference</a> and is available as a <a href="https://docs.google.com/spreadsheets/d/1XkJxHtFrhZOgBjxJXMIejxepBolQhBO_KXgtbAGcHhE/pubhtml">google doc</a>.</li>
					<li>The charts were built using <a href="http://d3js.org">d3.js</a> and specifically <a href="http://bl.ocks.org/mbostock/3884955">these</a> <a href="http://bl.ocks.org/mbostock/1166403">three</a> <a href="http://bl.ocks.org/mbostock/8027637">examples</a>.</li>
					<li>This is clearly a remix so I'd love to see what you do with the data and the statistical approach. Let me know <a href="https://twitter.com/sethblanchard">@sethblanchard</a>.</li>
					</ul>
			</section>
		</div>
	</section>

	{% include footer.html %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="/js/vendor/d3.v3.min.js"></script>
    <script src="/js/pythagoreanpennants.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

